#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: grid;
  grid-auto-flow: column;
  
}

.twiterLeftPage .TweetLogo:hover {
  border: 1px solid rgba(107, 162, 199, 0.635);
  background-color: rgba(107, 162, 199, 0.635);
  border-radius: 50% ;
  width: 50px;
  height: 50px;
}

.twiterLeftPage{
  display: grid;
  grid-auto-flow: row;
  width: 200px;
  height: 1fr;
  gap: 5px;
  position: fixed;
}

.twiterLeftPage button{
  display: grid;
  grid-auto-flow: column;
  background: none;
  border: none;
  align-items: center;
  text-align: start;
}

.twiterLeftPage button:hover{
  background-color: rgba(202, 202, 202, 0.635);
  border: 1px solid rgba(202, 202, 202, 0.635);
  border-radius: 30px;
}

.tweetButton .tweetButtonTweet{
  background-color:#1d9bf0 ;
  border: 1px solid#1d9bf0;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  padding: 15px 80px;
}
.tweetButton .tweetButtonTweet:hover{
  background-color:#1d9bf0 ;
  border: 1px solid#1d9bf0;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  padding: 15px 80px;
}

.twiterMainPage {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
  justify-content: center;
  width: 600px;
  margin-left: 280px;
}

.FirstPost {
  border: 1px solid rgb(209, 209, 209);
  padding: 20px 10px;
}
.SecondPost{
  border: 1px solid rgb(209, 209, 209);
  padding: 20px 10px;
}





.Username{
  display: grid;
  grid-auto-flow: column;
  width: 150px;
  align-items: center;
}
.Comments{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}




